/*
-----------------------------------------
Buttons
-----------------------------------------
*/

.mbtn{
	position: relative;
	background-color: $orange;
	display: inline-block;
	font-size: 0;
	color: $white;
	min-height: 37px;
    padding: 10px 30px;
	border-radius: 3px;
	text-transform: uppercase;
	span, .svg, i{
		display: inline-block;
		vertical-align: middle;
	}
	span{
		font-family: $bold;
		font-size: 12px;
	}
	&:hover, &:focus, &:active{
		color: $white;
	}
	&.mbtn-icon{
		padding: 7px 10px;
		span{
			padding: 0 25px 0 20px;
		}
		i{
			font-size: 16px;
			width: 22px;
		}
		.svg{
			fill: $white;
			width: 22px;
			height: 22px;
		}
		.icon-spin5{
			display: none;
		}
		&.loading{
			i, .svg{
				display: none;
			}
			.icon-spin5{
				display: inline-block;
			}
		}
	}
	&:disabled{
		opacity: 0.4;
	}
}