/*
-----------------------------------------
Page Title
-----------------------------------------
*/

.page-title{
	font-family: $bold;
	font-size: 38px;
	color: $dk_grey;
	margin: 50px 0;
	text-transform: uppercase;
}

/*
-----------------------------------------
Section Header
-----------------------------------------
*/

.section-header{
	padding: 0 0 40px;
	.section-title{
		font-size: 32px;
		color: $dk_grey;
	}
	.section-cap{
		font-family: $medium;
		font-size: 13px;
		color: $grey;
	}
}