//colors
$black: #000;
$white: #fff;
$orange: #fb761d;
$green: #20d077;
$red: #ff0047;
$blue: #1286fa;
$lt_blue: #c2e0fe;
$grey: #9f9e9e;
$lt_grey: #f0f1f1;
$line_grey: #ecebeb;
$dk_line_grey: #d4d4d4;
$bg_grey: #fafafa;
$dk_grey: #4d4d4d;
$fb: #3b5998;

//fonts
$arial: arial;
$light:'open-sans-light';
$regular:'open-sans';
$italic:'open-sans-it';
$medium:'open-sans-medium';
$bold:'open-sans-bold';
$exbold:'open-sans-extrabold';

//vars
$bigscreen_width: 1557px;
$desktop_width: 1366px;
$tablet_width: 991px;
$phone_landscape_width: 768px;
$phone_portrait_width: 600px;