@page {
    size: A4 landscape;
    margin: 0
}
@media print {
    * {
        -webkit-transition: none!important;
        transition: none!important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
        float: left !important;
    }
    .col-md-1{width: 8.33333333% !important;}
    .col-md-2{width: 16.66666667% !important;}
    .col-md-3{width: 25% !important;}
    .col-md-4{width: 33.333% !important;}
    .col-md-5{width: 41.66666667% !important;}
    .col-md-6{width: 50% !important;}
    .col-md-7{width: 58.33333333% !important;}
    .col-md-8{width: 66.666% !important;}
    .col-md-9{width: 75% !important;}
    .col-md-10{width: 83.33333333% !important;}
    .col-md-11{width: 91.66666667% !important;}
    .col-md-12{width: 100% !important;}

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
        float: left !important;
    }
    .col-lg-1{width: 8.33333333% !important;}
    .col-lg-2{width: 16.66666667% !important;}
    .col-lg-3{width: 25% !important;}
    .col-lg-4{width: 33.333% !important;}
    .col-lg-5{width: 41.66666667% !important;}
    .col-lg-6{width: 50% !important;}
    .col-lg-7{width: 58.33333333% !important;}
    .col-lg-8{width: 66.666% !important;}
    .col-lg-9{width: 75% !important;}
    .col-lg-10{width: 83.33333333% !important;}
    .col-lg-11{width: 91.66666667% !important;}
    .col-lg-12{width: 100% !important;}

    .section {
        display: table !important;
        min-width: 297mm!important;
        min-height: 273mm!important;
        padding: 0 50px !important;
        page-break-inside: avoid!important;
        page-break-before: always!important;
        float: none!important
    }
    .section .container{
        display: table-cell;
        vertical-align: middle;
    }
    .section .section-header{
        padding: 25px 0 !important;
    }

    .summary-block{
        width: 20% !important;
    }

    .data-table {white-space: nowrap;}
    .data-table thead tr th{padding: 8px 10px;}
    .benchmark-page{
        padding: 0;
    }
    .benchmark-name input{
        font-size: 72px;
        height: 115px;
        padding: 0;
    }

    table.dataTable thead tr th{
        background-image: none !important;
    }
}

